body {
  margin: 0;
  padding: 0;
  background-image: url("/pictures/back3.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  background-color: rgba(10, 10, 10, 0.5);
  backdrop-filter: blur(0.4rem);
  border: 2px solid white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0.4rem 0.4rem 0.8rem rgb(27, 227, 204);
}

.register-card h1 {
  text-align: center;
  color: white;
  /* text-shadow: 0.2rem 0.2rem 0.4rem rgb(27, 227, 204); */
  margin-bottom: 2rem;
}

.register-card .box i {
  color: white;
}

.register-card .box .input-box {
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
  outline: none;
  border: none;
  background: transparent;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}

.register-card .box .input-box::placeholder {
  /* color: rgba(255, 255, 255, 0.5); */
  color: rgb(224, 219, 219);
}

.register-card .box {
  width: 100%;
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  border-bottom: 1px solid white;
}

#eye2,
#eye4 {
  display: none;
}

.register-card .box .icon-eye {
  cursor: pointer;
}

.register-card .check input {
  transform: scale(1.2);
  margin-right: 0.5rem;
}

.register-card .check input:checked {
  accent-color: black;
}

.register-card .check span {
  color: white;
  font-weight: 600;
}

.register-card .register-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.register-card .register-btn .btn {
  width: 60%;
  transition: 0.3s;
}

.register-card .register-btn .btn:hover {
  transform: scale(0.9);
}

.register-card .login-link {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.register-card .login-link a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 0.1rem solid rgb(27, 227, 204);
  transition: 0.3s;
  cursor: pointer;
}

.register-card .login-link a:hover {
  transform: scale(1.1);
  text-shadow: 0.2rem 0.2rem 0.4rem rgb(27, 227, 204);
  color: white;
}

/* Toast CSS Start */
#toast {
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  background-color: #4caf50;
  color: white;
  border-radius: 0.5rem;
  display: none;
}
.show {
  display: block;
  animation: fadeInOut 3s ease-out;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

/*  */
.register-card .password-error {
  color: rgb(255, 0, 0);
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  margin-top: 0.3rem;
}

.valid {
  color: green;
}

.valid:before {
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  left: -35px;
  content: "✖";
}
